[2014-04-03 22:16] srohde opened #1 "single quotes are getting replaced with &#x27; in generated files"
Example
{
  "name":"FONT_BOLD",
  "value":"'ProximaNovaSoft-Bold'"
}

[2014-04-03 22:17] #1 closed, assigned to nobody

[2014-05-27 22:16] screamingmunch opened #3 "Need instruction on compiling .hbs templates"
Can you provide instructions on this to readme.md?  Thanks!

[2014-05-28 18:12] #3 closed, assigned to nobody

[2014-06-05 17:09] markgeyer opened #7 "Only show active categories"
Would be nice to check the loaded JSON for supported categories and only show those.

Currently it shows all supported categories, but if your JSON doesn't contain the supported is still shows those category header, each with an empty section.

[2014-06-18 22:29] #7 closed, assigned to nobody

[2014-06-25 21:10] jina opened #8 "Make Aliases work within a value when not exclusive"
When aliases are used exclusively as a value, they render the value in the HTML output fine. But when aliases are used as _part_ of another value, they don't render properly.

See screenshot for example; top values were the Alias exclusively while bottom values are part of another value:

![screenshot 2014-06-25 14 06 23](https://cloud.githubusercontent.com/assets/53273/3391716/0a7f1e82-fcad-11e3-

[2014-06-27 16:45] #8 closed, assigned to nobody

[2014-07-01 00:27] jina opened #9 "Allow for `line-height` options."
Right now we allow for united line-heights (ie: `24px`, `1.5em`).

Some people (including myself) prefer unitless line-heights: `1.5`.

On line 415:

[code]

We need a way for Theo to add an `em` at the end of `{{value}}` if there is not a unit.

So: if no units (`1.5`), make the output have a unit (`1.5em`).

Alternatively, some people prefer percentages. If a percentage is used (example: `150%`)

[2014-07-01 21:31] #9 closed, assigned to nobody

[2014-07-11 17:00] markgeyer opened #12 "Sort section by..."
Theo should be able to sort sections by:

**property name** (A-Z, Z-A)
**numerical value** (large to small, small to large)
**color value** (rainbow, light to dark, dark to light)

Depending on *who* is looking at your guide, sorting will help them choose the appropriate variable for your system.

[2014-07-11 18:39] markgeyer opened #13 "Able to search across all values..."
Would be cool be able to search across all values, var names, and comments.

You might be thinking... why couldn't you just *find* (cmd+f) the page to find your values?

Well, depending on how many values exist in your project and what you're working on, you may want to scope to particular things, like **input** (re: input *text color* states, input *background-color* states, input *font-size*). I

[2014-08-14 16:20] jina opened #16 "Generate comments as css comments in Less/Sass/Stylus files"
You could do something like this:

[code]

[2014-08-14 20:26] #16 closed, assigned to nobody

[2014-08-29 17:07] srohde opened #20 "Support CSS Custom Properties for Cascading Variables Module Level 1"
http://www.w3.org/TR/css-variables/

Example:

[code]

[2014-09-30 13:39] srohde opened #22 "Show decent error message when custom template JSON output fails"
If the custom template is JSON theo tries to prettify the output and should show a better error message of the JSON isn't valid.

Current error reads as:
[code]

[2014-09-30 13:40] srohde opened #23 "Prettify CSS output"
If the output of a custom template is CSS the output should be prettified

[2014-10-01 10:36] #23 closed, assigned to nobody

[2014-10-09 12:57] javoire opened #26 "[suggestion] exclude/include variables for certain platforms"
If the visual guidelines have specific rules for certain platforms
[code]

[2015-01-30 12:55] eldh opened #31 "[question] Possible to change output value in templates?"
I'm trying to understand how I can get stuff like gradients and transition easings to work well across platforms.

For example, I want this in my scss:
```$transition-easing: cubic-bezier(.23,1,.32,1);```

And in the json I want this:
```"transitionEasing": [.23,1,.32,1]```

Currently working around it by just setting ".23,1,.32,1" as the value and then wrapping it in functions in scss and js. Tha

[2015-02-04 22:32] aputinski commented on #31
Hey @eldh,

Just wanted to let you know that I'm currently working on a complete refresh of the Theo API which will make what you're talking about much simpler.

The API will look something like this:

[code]

I'm hoping to have this published in the next few weeks.

Let me know if you have any thoughts on the API.

[2015-02-04 22:37] aputinski commented on #26
Hey @javoire, I'm currently working on a complete refresh of the Theo API and I'll take this use case into account!

[2015-02-05 09:18] eldh commented on #31
Awesome. I think that looks great!

[2015-02-05 23:03] javoire commented on #26
That's great to hear!

Cheers

[2015-02-09 15:24] Chrazy opened #32 "Add possibility to return converted result instead of writing to file."
Not sure if this is possible already but I wonder if it would be possible at all to return the converted result so it can be used immediately and not write it to a file.

[2015-02-11 06:40] jina opened #33 "Offer YAML as an alternative (not replacement) for JSON"
Some people prefer YAML to JSON for storing data. I am one of those people. And I know many other devs that prefer it as well. This is a nice-to-have feature, not a show-stopper, but I think it'd be a nice touch. :)

[2015-02-12 10:45] Chrazy commented on #32
Looking through the code I noticed that convert actually returns the compiled result, like I wanted. Would it be possible to just add an option/flag not to write it to a file?

[2015-02-12 18:12] aputinski commented on #32
@Chrazy I'm getting ready to release Theo 3.0.0 and I'll make sure this is possible with the new API

[2015-02-12 18:12] aputinski commented on #33
This will be in Theo 3.0.0 :)

[2015-02-12 18:14] jina commented on #33
woohoo!

[2015-02-12 22:48] #12 closed

[2015-02-12 22:48] #13 closed

[2015-02-12 22:48] #26 closed

[2015-02-12 22:48] #31 closed

[2015-02-12 22:48] #32 closed

[2015-02-12 22:48] #33 closed

[2015-02-13 06:53] Chrazy commented on #32
Cool! One other thing that popped up on my wish list was the ability to send in actual source (not a path, but content). I haven't had time to look through the changes yet but maybe that's possible now too?

[2015-02-13 14:07] #22 closed

[2015-02-24 10:50] javoire opened #35 "When using aliases, every other color transform fails (=> #000000)"
Using theo 3.0.3 and:

[code]

[code]

[code]

`brand-colors.ios.json` and `brand-colors.android.xml` also get every other color as black

[2015-02-24 10:52] javoire commented on #35
With only one alias per value, same result. With no aliases at all (hardcoded values), correct result

[2015-02-24 12:54] javoire opened #36 "json argument format of a "format" doesn't match the README"
In the readme:
[code]

my main file looks like this:

[code]

when I console log the json file I get the format

[code]

an item in the array looks like:

[code]

Or did I misinterpret something?

Cheers :)

[2015-02-24 16:15] aputinski commented on #36
@javoire Can you please verify that `props` key in `brand-colors.json` is an object? Looks like I don't currently throw an error if `props` is an array, but I will in the next update.

[2015-02-24 16:37] aputinski commented on #35
@javoire I'm having trouble reproducing this one. I ran the above file through the tests and get this as the less output:

[code]

[2015-02-24 21:28] javoire commented on #36
sure
[code]

[2015-02-24 21:29] javoire commented on #35
Interesting. Guess I'll have to see if I can nail down its reproducibility a bit more. I'll be back!

[2015-02-24 22:02] aputinski commented on #36
@javoire ahh.. this is helpful — might have something to do with the import logic. I'll look into this.

[2015-02-26 13:28] javoire commented on #35
Sooo, i zipped my exact setup, so try this one ^^ https://drive.google.com/file/d/0B3xlHBm9Aj2aUDJBUGt6TDE0RG8/view?usp=sharing

[2015-02-26 15:51] aputinski commented on #35
@javoire I finally tracked down the issue — seems that there is a RegExp bug in node `0.10.36`, and I was running `0.12.0`. I just published Theo `3.0.6` which should fix the issue.

[2015-02-26 16:35] javoire commented on #35
awesome!

[2015-02-26 16:51] aputinski commented on #36
@javoire This should be fixed in Theo `3.0.7`

[2015-02-26 17:19] aputinski commented on #35
@javoire Can you test and close this issue when you have a chance? Thanks!

[2015-02-26 17:19] aputinski commented on #36
@javoire Can you test and close this issue when you have a chance? Thanks!

[2015-02-26 19:04] javoire commented on #35
works like a charm!

[2015-02-26 19:04] #35 closed

[2015-02-26 19:04] javoire commented on #36
it sure works!

[2015-02-26 19:04] #36 closed

[2015-04-30 14:53] amyleesalesforce opened #37 ""options.includeAlias will be deprecated soon. Please use options.includeRawValue""
Seeing a warning message in compilation.

[2015-06-12 18:38] lozandier commented on #20
I was just going to file an issue about this; is it naive to think it'll get solved along the lines of doing this out-of-the-box?

[code]

[2015-08-14 13:53] #37 closed

[2015-09-22 13:38] interactivellama opened #45 "Output HTML using hyphened format instead of Aura camelCase"
Maybe I'm missing something obvious, but how to I change the HTML outut from Aura to LESS formatted variables?

[2016-02-01 13:56] faboweb opened #46 "Allow aliases to rely on other aliases"
Hi,
when I want to define aliases dependent on aliases. Those are not resolved:

[code]

resolves to:
  `$small-spacing: {!BASE-LINE-HEIGHT} * 1em / 2;`

[2016-05-04 01:10] kaelig commented on #46
Thank you, @faboweb. This is a known limitation, but feel free to submit a pull request!

[2016-05-04 05:20] kaelig commented on #45
Hey! Is this still a use case you need to address?

[2016-05-04 14:58] interactivellama commented on #45
It's been 6 months since I've regularly used Theo do to shift in priorities. Does Theo output the HTML sample of the design tokens that uses the "web/hypenated" version of the class names now?

[2016-05-05 00:20] kaelig commented on #20
Hey @lozandier, apologies for the (long) wait. Feel free to open a Pull Request, we'll definitely consider it!

[2016-05-05 02:18] lozandier commented on #20
@kaelig Understood; I've started a PR to get the ball rolling on this.

[2016-06-10 20:48] NameFILIP commented on #20
@lozandier Are you still planning to submit a PR for this?

[2016-06-10 22:52] lozandier commented on #20
Yeah; I've been blocked from going back to it because of tight deadlines at
work & other PRs & issues I've sent to public & private Github repos.

On Friday, June 10, 2016, Filip Spiridonov <notifications@github.com> wrote:

--
Kevin Lozandier
lozandier@gmail.com <lozandier@gmail.com>

[2016-09-25 20:23] siiron opened #58 "Comments not visible in .scss output"
@jina mentioned in one of her [talks](https://vimeo.com/181329002#t=1850s), the possibility to have comments in the tokens-file. Currently I'm using .yml as my input, and .scss as my output.

Input:
[code]

Output:
[code]

I was kinda expecting something like this:
[code]

But if I change the output to either raw.json or ios.json, I get the key/value for "comment":
[code]
Still, I'd love to have t

[2016-09-26 16:09] aputinski commented on #58
This isn't currently supported, but it would be very easy to add:

[code]

[2016-09-26 18:37] siiron commented on #58
Your snippet works great in my case.

Thanks!

[2016-09-26 20:41] jina commented on #58
Yay! the commenting thing might have been something in the old set up — I believe Theo got rewritten at some point so maybe that wasn't built in the second go-round. Sorry about any confusion! Glad to see you using Theo. :)

[2016-09-27 16:17] #58 closed

[2016-11-01 11:00] wengleigood opened #59 "心得"
学习连接：https://github.com/salesforce-ux/theo
Theo初学理解：

最简单的用法：利用Theo以文件流读写的形式，将源文件props.json转换，生成不同平台可以解析的变量定义文件；各平台依据自己的样式语法使用变量实现业务。

对于我们OMNICHANNEL，现主要是在web端的多主题base同源。（目前不同主题，有不同base.css）
Props.json的example如下：
{
 "props": {
    "color_brand": {
      "value": "#ff0000",
      "type": "color"
    }
  },
  "global": {
    "category": "some-category",
    ".meta": {
      "foo": "baz"
    }
  }
}

[2016-11-08 18:49] kaelig commented on #59
Hi @wengleigood, I'm afraid I can't read Chinese. Would you be able to ask your question in English?

[2016-12-01 22:08] micahgodbolt opened #60 "YAML vs YML file extensions"
I made the mistake of using a .yaml extension and got an error of ` Cannot read property 'props' of undefined`. I'm guessing it only checks for yml? Would be nice to support both, or at least give proper error message if .yaml.

I might try to tackle this if you have a preference on which approach.

[2016-12-01 22:32] kaelig commented on #59
Closing this as it's a month old with no activity.

[2016-12-01 22:32] #59 closed

[2016-12-02 02:16] aputinski commented on #60
I'm fine with supporting both extensions. Looks like you'd just need to update two things:

https://github.com/salesforce-ux/theo/blob/794bede53b15d432793906423017cac42a3f7799/src/props/util/index.js#L29

https://github.com/salesforce-ux/theo/blob/794bede53b15d432793906423017cac42a3f7799/src/props/index.js#L494

[2016-12-02 02:35] kaelig commented on #60
See #61

[2016-12-02 18:14] micahgodbolt opened #62 "Enumerate transform/format options in docs"
We'd like to have access to the alias used in a property.  Not sure if this is 100% possible (or desirable), especially if you want to be able to do things like `value: "{!bar} * 2"`. If this is the case, just passing the entire string through would make it parseable.

I was going to take a look at this today (as I need it for what we're trying to do), but wanted to put it out there and get some f

[2016-12-02 18:17] micahgodbolt commented on #62
I guess alias might not be the right key....It might be like `props.raw` or something.

[2016-12-02 18:19] micahgodbolt commented on #62
ok hold.....i think I found options.includeRawValue. I think this'll work.

[2016-12-02 18:52] micahgodbolt commented on #62
Is this the right place to change the includeRawValue? Or is there some global options
[code]

[2016-12-02 19:07] micahgodbolt commented on #62
Okay, got it! Those options are passed in via the transform (not format). So:

[code]

[2016-12-02 22:21] micahgodbolt opened #64 "Support Import Pre-process function"
This might take a bit of work, but thought I'd suggest it at least.

[code]

output of this would be the same as if I strung all of them together (or delimiter of choice).

[code]

The gist here would be that if a prop is an object, that object is passed into the parsing function along with the parent string. And if that next value is an object, it's passed down again with the parent appended to t

[2016-12-14 01:07] #60 closed

[2016-12-14 20:32] #62 closed

[2016-12-14 21:59] micahgodbolt commented on #64
I've got a branch working to support nested props, but there is a desire to not include the code directly into this project. Instead I'd like to support some function you can expose in the Gulp task so that you can preprocess the data, hence supporting converting nested data to the flat data used by Theo.

[2016-12-14 22:00] micahgodbolt commented on #46
@faboweb would love a review of my current PR. Does that meet your needs?

[2016-12-15 03:13] #46 closed

[2016-12-15 03:19] kaelig commented on #46
This feature was just added in v5.0.0-beta.3!

[2016-12-15 03:20] kaelig commented on #60
This was added in v5.0.0-beta.2

[2016-12-15 03:22] kaelig commented on #45
Just confirmed that it still outputs the camelCase format. Not sure this is something we need to address at the moment so I'll close this.

[2016-12-15 03:22] #45 closed

[2016-12-15 03:56] jina commented on #46
![bitmoji](https://render.bitstrips.com/v2/cpanel/9941970-157611153_2-s1-v1.png?transparent=1&width=246)

[2016-12-16 18:31] micahgodbolt commented on #64
fixed in #71

[2016-12-16 18:31] #64 closed

[2016-12-20 08:54] siiron opened #77 "Error: Cannot find module 'json5'"
5.0.0-beta.6 gives me the following error when running gulp:

[code]

[2016-12-20 17:19] kaelig commented on #77
Thank you for pointing this out. Let me clean up the dependencies and release a new beta.

[2016-12-20 19:31] #77 closed

[2016-12-20 20:19] kaelig commented on #77
It should be fixed in https://github.com/salesforce-ux/theo/releases/tag/v5.0.0-beta.7

Thanks again @siiron!

[2017-01-15 16:01] abdallahqoraan commented on #58
Hello @siiron and @jina ,

I'm using Theo in one of my project and I really like it! the thing is that I was trying to add comment as mentioned in this issue description with no luck, I believe it was supported by one of theo's old version?

I'm trying to transform from JSON to SCSS and I need to add comments. To be honest I have a nobby question related to the snippet provided by @siiron, where s

[2017-01-15 17:17] siiron commented on #58
Hi @abdallahqoraan,
Try adding it within your gulp-file. Then set up a gulp-task that uses the registered format (scss with comments.). My example uses .yml as a tokens-file, but I guess changing the file-type to .json is straight forward within your gulp-task.

[code]

[2017-01-17 07:58] abdallahqoraan commented on #58
Thank you @siiron for your help. Now its working like a charm! I really appreciate it :)

[2017-01-18 07:02] kaelig commented on #58
@siiron @abdallahqoraan I just added a last minute to Theo v5: comments in most common output formats (SCSS, Sass, stylus, common.js, amd.js). Let me know what you think!

[2017-01-22 12:21] abdallahqoraan commented on #58
@kaelig I've updated my THOS version to include your latest changes :) It's prefect thank you!
Kudos!

[2017-02-08 20:34] julianomoreira opened #90 "How to change the generated tokens to use camelCase style as opposed to hyphen-separated"
Hello peeps,

My team is doubling down on our standards and we're changing our classes to use camelCase (buttonLarge) as opposed to hyphen-serated words (button-large). Is there a way to change the output of tokens to use camelCase style?

Thanks,

-Juliano

[2017-02-08 21:00] kaelig commented on #90
Thanks for using Theo, @julianomoreira!

### In Theo v5

This is documented here: https://github.com/salesforce-ux/theo#example-6

[code]

### In Theo v6

No documentation yet, but here's what it should look like:

[code]

[2017-02-08 21:00] #90 closed

[2017-02-08 21:13] julianomoreira commented on #90
Thanks! Helpful. We're using Theo 5.

[2017-03-10 22:23] kaelig opened #99 "Export raw values in raw.json export"
The `raw.json` format exports a JSON file of tokens.

We want all the metadata and raw values (as they appeared before transformation) to also be included in the output so it can be reused for static analysis.

### Input

[code]

### Output
[code]

[2017-03-13 11:03] didoo opened #100 "Allow a token prop to reference another token prop"
Currently a token "prop" can reference an alias "prop", so they can share the same value (and in general, multiple tokens can use the same alias).

But I find myself more and more declaring props like this:
[code]
because I need not only to declare a "token" but also to use that value in other tokens (imagine using the border radius in a "buttons" token group).

What I am suggesting is to allow to

[2017-03-13 13:57] didoo opened #101 "Resolution of aliases is not cross-file between imported files"
This is probably a regression in Theo6. When you use multiple imports in a file, the alias resolved in previous files are not available inside other imported files.

It's easy to reproduce.

Given this main file:

**main.json**
[code]
and these two imported files:
**imported1.json**
[code]
**imported2.json**
[code]
the generated file in Theo5 is correctly:
**main.scss** (as an example)
[code]
whil

[2017-03-13 17:43] kaelig commented on #100
I think this is a great idea but it definitely adds potential complexity:

1. With great power comes great responsibility: it becomes easier to make a mess and build complex architectures
2. There's no authoring tooling around Theo (e.g. a UI, or extensions for Atom, Sublime, VS Code…), so managing tokens becomes exponentially more complex if we make it possible to cross-reference tokens between t

[2017-03-13 17:47] kaelig commented on #101
Thanks a lot for the detailed report. Could you write a failing test reproducing this issue? That'll help us investigate (or someone can write a fix for it).

[2017-03-13 18:11] aputinski commented on #101
@didoo I believe this might have actually been a bug in Theo 5. `"imports"` are meant to function more like dependencies. For example, in our token files we often have something like
[code]

So in your example above, if `imported2` imported `imported1`, then `ALIAS_COLOR1` would be available to `imported2`

[2017-03-14 17:34] micahgodbolt commented on #100
Another challenge is that when referring to aliases we use `{!COLOR_X}`, which does not indicate whether that is an alias or prop. I.E. we'd have to introduce a way to differentiate between COLOR_X the alias, and COLOR_X the prop.

TBH, I added the ability for alias to reference aliases, so I know it wouldn't be TOO hard to do the same to props. This could even be written as a jsonPreProcess, so t

[2017-03-14 17:34] micahgodbolt commented on #100
Here's an example of jsonPreProcess

https://gist.github.com/micahgodbolt/96c9cf35a6fe24d29f6886f47f30f8c8#file-nested_props_theo_transform-js

[2017-03-14 17:47] kaelig commented on #100
@aputinski @srohde any thoughts on this?

[2017-05-09 21:33] beauroberts opened #104 "Allow an imported alias/prop to be overridden by a locally defined alias/prop with the same name"
Hey guys! Thanks again for a great tool that we make use of every day.

I noticed in the 6.0 alpha that an imported alias/prop will override a locally defined alias/prop with the same name (see [`mergeImports`](https://github.com/salesforce-ux/theo/blob/master/lib/definition.js#L135)). Was that intentional? If not, it would be cool if the locally defined aliases and props could override the import

[2017-05-11 00:25] kaelig commented on #104
Thanks for the kind words, @beauroberts! And glad Theo is useful to you and your team, that's always good to hear :)

What you describe makes total sense (looks like a regression). I'm going to work on it tomorrow, do you have time to put together a failing test in a pull request? I'll attempt to make it pass.

[2017-05-11 14:43] beauroberts commented on #104
Done @kaelig! Thanks for jumping on this so quickly.

[2017-05-23 22:04] danoc opened #106 "`glob` is not listed as a dependency, but used in `6.0.0-alpha.6`"
Hello, it appears that `glob` is missing as a dependency in the latest version of Theo.

[code]

It is referenced in `register.js`:
https://github.com/salesforce-ux/theo/blob/3993b23a5e8bc74c994b4b9a6c52638c06e84cac/lib/register.js#L101

[2017-06-14 09:22] NikhilVerma commented on #101
Just FYI we have fixed this issue like this: https://github.com/badoo/theo/commit/652658dbed0dc9aa5e3bb03e28aff3e4a6a38bf7

I am not sure if this is the proper solution yet but it seems to work

[2017-06-14 09:26] NikhilVerma commented on #101
Just FYI we have fixed this issue like this: https://github.com/badoo/theo/commit/652658dbed0dc9aa5e3bb03e28aff3e4a6a38bf7

I am not sure if this is the proper solution yet but it seems to work

[2017-06-16 20:30] derekatkinson opened #108 "BEM syntax support"
Do you think there might be a way for Theo to support BEM syntax in the future? The conversion of design tokens' names into kebab case makes SCSS/LESS variables difficult for a person to parse, and the ability to use a BEM naming scheme would be helpful.

For example,
`background-button-primary-active` is harder to parse than
`background_button-primary--active`.

Theo seems really useful, but I'm

[2017-06-27 19:33] #106 closed

[2017-06-27 19:38] #104 closed

[2017-06-27 19:42] aputinski commented on #101
Hey @didoo, sorry it took me so long to look into this. I actually think that this was a bug in Theo 5.

You basically have two options:

1. Move that `ALIAS_COLOR1` into `main.json`
2. Make a file that contains all your shared aliases and then import that file when you need access to that alias.

The second options is how we usually handle this issue for the Lightning Design System.

[2017-06-27 19:42] #101 closed

[2017-07-28 00:37] nickbalestra opened #110 "css modules format"
I was thinking of working on a PR for adding format support for [css modules ](https://github.com/css-modules/css-modules). What you think?

[2017-07-31 17:49] aputinski commented on #110
This sounds great, can you sketch out roughly what the output would look like?

[2017-08-01 09:44] nickbalestra commented on #110
Sure, following the spec for [values variables in css-modules](https://github.com/css-modules/css-modules/blob/master/docs/values-variables.md) the output could look something like:

### cssmodules.css

[code]

[2017-08-01 21:42] aputinski commented on #110
This looks great. I did a bunch of cleanup today, so adding a new format + test should be pretty simple. Let me know if you need any help.

[2017-08-02 16:18] #110 closed

[2017-08-02 16:55] aputinski commented on #99
Fixed by fb9491727f73347cdf9039dee511ed513e0be5c7

[2017-08-02 16:55] #99 closed

[2017-08-02 19:38] nickbalestra opened #112 "GH repo description"
I see that the repo description still says `A set of Gulp plugins for transforming and formatting Design Tokens` perhaps worth updating it to `Theo is a an abstraction for transforming and formatting Design Tokens.`?

Just noticed by [twitting](https://twitter.com/nickbalestra/status/892831088933863425) that the shared link contain that old meta description.

[2017-08-02 19:55] aputinski commented on #112
Done!

[2017-08-02 19:55] #112 closed

[2017-08-03 17:43] nickbalestra opened #113 "Theo-cli"
Hi @aputinski ,
I'm putting together a little CLI tool around Theo and I wanted to share it here.

https://github.com/opentable/design-tokens/tree/master/tools/theo-cli

[2017-08-03 18:14] aputinski commented on #113
This is great! Would you be interested in submitting a PR to add CLI directly in theo?

[2017-08-03 18:20] nickbalestra commented on #113
That will be awesome, so that by installing Theo it will automatically come with a CLI tool :)
We could add a `cli` folder inside `/lib`, what you recon?

[2017-08-04 00:27] aputinski commented on #113
I think most projects that have a CLI contain a top-level `bin` directory, and then in `package.json` you can specify `"bin": "bin/theo.js",` which would the parse `argv`, etc

[2017-08-04 00:33] nickbalestra commented on #113
Great, [that's](https://github.com/opentable/design-tokens/blob/master/tools/theo-cli/package.json#L10) how I did it as well.

I'll work on a PR for it in the upcoming days

[2017-08-17 17:36] #113 closed

[2017-08-17 21:31] ah-adarlow opened #117 "Can't install v6.0.0-beta.3 as a dependency"
Running `npm install` with theo version `6.0.0-beta.3` as a dependency fails with the following error:
`npm ERR! enoent ENOENT: no such file or directory, chmod 'C:\Users\adarlow\Documents\Design Systems\temp\test-theo\node_modules\theo\bin\theo.js'`

This can be verified with a simple package.json and a fresh install:
[code]

It works fine with the previous version.

[2017-08-18 00:51] aputinski commented on #117
Sorry about that! Should be fixed in `6.0.0-beta.4`

[2017-08-18 00:51] #117 closed

[2017-08-18 06:30] caseycallow opened #118 "Render tokens in source order"
Currently, generated tokens are streamed randomly into source files. Would be nice to have the output file of variables reflect the same source order they were imported in.

[2017-08-18 16:19] aputinski commented on #118
Can you give me an example of:
  - current order of your tokens
  - current output
  - expected output?

[2017-08-18 16:54] caseycallow commented on #118
Current import order:
[code]
Current output:

[code]
Expected output:
[code]

[2017-08-18 18:59] aputinski commented on #118
I just published `6.0.0-beta.5`. Let me know if that works better!

[2017-08-18 20:27] caseycallow commented on #118
Awesome thank you! The import groupings are now in order but the tokens themselves are still shuffled. Any way to get these to render in order?

Current output:
[code]
Expected:
[code]

[2017-08-18 20:47] ah-adarlow commented on #117
Thanks for the quick turnaround.

[2017-08-25 08:09] shaunbent commented on #118
+1 for this, would be great for Tokens to be output in the order they're listed.

[2017-08-29 20:16] jenniesyip commented on #118
In addition to the ordering, is it possible to have the tokens render without the extraneous line breaks and trailing spaces as well?

Current Output:
![image](https://user-images.githubusercontent.com/1864971/29841903-033aceb2-8cbc-11e7-822e-f6edcab24cfa.png)

Expected Output:
![image](https://user-images.githubusercontent.com/1864971/29841887-f89d1e42-8cbb-11e7-9330-8cd36766ebfb.png)

[2017-08-31 14:53] aputinski commented on #118
Can I get some more info:
 - Operating system
 - Node version

[2017-08-31 15:16] aputinski commented on #118
Also, would be helpful to have a minimal token src folder to test.

[2017-08-31 17:06] caseycallow commented on #118
I'm on Sierra 10.12.6, and Node v8.3.0. Common JS and scss formats are the only ones that seem to be affected by the extraneous spacing issue of the formats I'm currently rendering (JSON, iOS, android, common JS, scss). Let me know if you need more info!

`src/aliases/font-size.yml`:
[code]
`src/font-size.yml`:
[code]
`src/all.yml`:
[code]

`dist/all.scss`:
[code]

`dist/all.common.js`:
[code]

`d

[2017-09-01 00:01] aputinski commented on #118
Thanks! I'll take a look tomorrow.

[2017-09-05 15:23] aputinski commented on #118
@jenniesyip The spacing issue has been fixed by @corygibbons in #120

[2017-09-05 16:53] jenniesyip commented on #118
@aputinski @corygibbons Excellent! Thank you both!

[2017-09-05 19:57] caseycallow commented on #118
@aputinski Perfect. Thank you so much for adding this in. Possible to bump [gulp-theo](https://github.com/salesforce-ux/gulp-theo) to take advantage of this?

[2017-09-05 20:32] aputinski commented on #118
It should pick it up with a fresh install

<img width="832" alt="screen shot 2017-09-05 at 16 31 52" src="https://user-images.githubusercontent.com/603528/30082157-cf007aba-9257-11e7-90a1-abf54d44eeec.png">

[2017-09-05 20:35] #118 closed

[2017-09-06 15:13] #20 closed

[2017-09-06 15:30] aputinski commented on #108
We could try to add an option that disables name conversion so they would remain exactly as you have them in the source files. Thoughts?

[2017-09-06 16:07] derekatkinson commented on #108
That sounds like that'd work for me! I'll keep an eye out for this option. Thanks for giving it some thought.

[2017-10-18 20:03] tomger opened #123 "Can I register a new transform using the CLI?"
I'd like to append sp/dp to my Android font sizes.

It looks like I can create JS files with transforms in the "./transforms" folder, but that I can't create new groups like "myCustomTransform" that trigger the valueTransform.

[2017-10-18 20:04] tomger opened #124 "How do you deal with size values on different platforms"
For Android I'd like the values to end in sp/dp.
On Web I'd like the values to end in px.
On iOS I'd like the values not to have a postfix, and be rendered as integers without quotes.

What's the recommended strategy? I'm trying to use the CLI and not write a custom formatter.

[2017-10-21 03:37] aputinski commented on #124
You can write custom value transforms:

[code]
Then call run theo using the `Android` transform

[2017-10-21 03:40] aputinski commented on #123
Currently, to use `registerValueTransform` and `registerTransform` you need to use the node API

[2017-10-22 23:31] #124 closed

[2017-10-22 23:44] tomger commented on #123
Would you accept a PR that would allow the CLI to load custom value transforms from a JS file?

Theo could detect JS files like your [Android Unit example](https://github.com/salesforce-ux/theo/issues/124#issuecomment-338361044) in "./transforms" and then then CLI be could called like:

[2017-10-23 18:06] aputinski commented on #123
Yeah, I think that's a good idea. Maybe it could look like this:
[code]
where `--setup` would be a path to a file that will be required before processing the rest of the flags and allow you to register any additional transforms / formats?

[2017-11-01 02:45] morewry opened #125 "What are aliases?"
I find myself pretty confused by aliases and uncertain where to get clarification on their purpose.

An alias, in US English, means "a name someone is otherwise called or also known as, an additional name that a person sometimes uses." In people terms, an alias is not the legal or official name of the person--basically, it's not their canonical name within the social system.

So when I started exp

[2017-11-01 04:05] aputinski commented on #125
Thanks for the feedback. After reading your comments, I agree that `aliases` is probably a misleading name.

You are exactly right. "aliases" are variables that can be referenced inside of "props" and other "aliases" using the `{!}` syntax and are then replaced during the compilation process. "variables" would probably be a more appropriate name. Sorry for the confusion.

If you have time, a PR to

[2017-11-01 08:10] morewry commented on #125
Thanks as well! Later I recognized a couple places in the README that should have given me hints (I ended up looking at some issues and PRs, hah), but it could be clearer. I'll see if I can make a PR soon.

[2017-11-01 08:13] #125 closed

[2017-11-02 18:42] chrisui opened #127 "Immutable.List(...).traverse is not a function"
Raised an issue over in `gulp-theo` but wanted to post here as this repo seems a little better monitored.

After installing the most recent version of `gulp-theo` we receive the following error when running the defined task:

[code]

Issue on gulp-theo: https://github.com/salesforce-ux/gulp-theo/issues/2

[2017-11-02 18:49] chrisui commented on #127
Interestingly I can't find any traces of the referenced `List.traverse` method in the latest Immutable docs. Is this a versioning issue?

https://facebook.github.io/immutable-js/docs/#/List

[2017-11-02 18:50] chrisui commented on #127
$ ls immutable
@kalo/ui@0.6.2 /Users/chris/Projects/project
└─┬ gulp-theo@1.0.0-alpha.5
  └── immutable@3.8.2

[2017-11-02 20:52] aputinski commented on #127
I think I see the problem. We're using `immutable-ext` which ironically mutates `immutable` with some additional methods. Because we're using a different version of `immutable` on `gulp-theo` for the options, it never gets those extra methods. I'll release a new version of `gulp-theo` that removes that dependency all together.

[2017-11-02 21:49] aputinski commented on #127
I just published `gulp-theo@1.0.0-beta.1` Please let me know if a fresh install fixes the issue.

[2017-11-06 20:07] chrisui commented on #127
This seems to have resolved the issue. Thanks @aputinski for the quick fix!

[2017-11-06 20:24] chrisui commented on #127
Think I jumped the gun a little. Turns out no files were piped to the plugin so ofc the step was passing (oops). It's failing on the following stub file with same error as before:

[code]

[2017-11-06 21:10] siiron commented on #118
I seem to be missing something. I'm currently running **gulp-theo 1.0.0-beta.1** that uses **theo 6.0.0-beta.7**. It should include this fix, yes? I'm on a Windows 10,  v.1709 with node 8.8.1 and npm 5.4.2.

I have the following `colors.json` as my token-file. Colors are sorted by main color, tints and shades:

[code]

My scss-output does not follow the order declared in the src. Variables are gen

[2017-11-06 21:22] siiron commented on #118
@aputinski Ahhh. Brainfart. Forget it. Got it working:

[code]

now became:

[code]

:-)

[2017-11-21 11:12] chrisui commented on #127
@aputinski Any chance of a quick look on this?

[2017-11-21 16:13] aputinski commented on #127
Hm.. I'm gonna need a little more info. I did a fresh install and the example you pasted above seems to run with no problems. What node/npm version are you running?

[2017-11-21 16:19] chrisui commented on #127
| Executable | Version |
| ---: | :--- |
| `lerna --version` | 2.5.1 |
| `npm --version`  | 3.10.8 |
| `yarn --version` | 1.3.2 |
| `node --version` | v6.9.1 |

| OS | Version |
| --- | --- |
| NAME | VERSION |
| macOS Sierra | 10.12.6 |

Will try to get a repro!

[2017-12-06 15:58] MindSculpt opened #128 "Misspelled `font-families` type parameter in render function"
First off — thanks for posting this repo. Awesome way to think about handling a design system's config single source of truth for settings.

I did some digging into the code since there isn't any documentation on the types of categories you can add. I noticed on line `321` of `lib/formats/html.js` that:

`${this.renderSection('font-families', 'Font Families')}`

...should actually be:

`${this.ren

[2017-12-07 03:07] aputinski commented on #128
If you don't mind making a PR, that would be great! As far as the html template, you'd probably need to register your own format, but you can use `lib/formats/html.js` as a starting point.

[2017-12-08 11:29] siiron opened #130 "UnhandledPromiseRejectionWarning with theo v6.0.0-beta.8 through gulp-theo (Win10)"
I'm running Node v8.9.1 with npm 5.5.1 on Windows 10.

I'm having `"gulp-theo": "^1.0.0-beta.1"` as a direct dependency. This package uses theo as a sub-dependency. For a while now, upon npm install, it installed theo v6.0.0-beta.7. Everything worked.

But doing a clean install of my node_modules now gave me theo v.6.0.0-beta.8. This produced the following error on my gulp tokens task:

[code]

I'

[2017-12-08 18:25] MindSculpt commented on #127
I'm seeing this same issue after your update. Fresh install did not fix it.

[2017-12-08 19:01] #128 closed

[2017-12-08 19:09] aputinski commented on #127
Ok, I think I found the issue. Can you try `6.0.0-beta.9`?

[2017-12-08 19:10] aputinski commented on #130
Can you see if `6.0.0-beta.9` fixes this?

[2017-12-08 19:25] MindSculpt commented on #127
@aputinski Looks like that fixed it. Nice work, and thanks!

[2017-12-08 19:29] aputinski commented on #127
@chrisui I'm gonna close this for now, but feel free to re-open if `6.0.0-beta.9` doesn't fix the issue

[2017-12-08 19:29] #127 closed

[2017-12-09 09:35] siiron commented on #130
Yes! It did! Thx 🥇

[2017-12-09 09:35] #130 closed

[2017-12-12 10:45] chrisui commented on #127
@aputinski Will take it for a spin. If you don't hear from me again it's worked and THANK YOU! :)

[2017-12-18 15:12] schmuli opened #131 "Don't merge prop names in different categories"
When importing a few files, any prop names that repeat will be overwritten.

### The Issue

Given a set of files:

[code]

### Expected Output

When converting `dimensions.yml`, using a slightly modified `map.scss` format that groups by cateogry instead of file-name, I expect to see:

[code]

### Actual Output

Instead I'm seeing:

[code]

In other words, the repeated prop names ("px" and "1") are

[2018-01-08 18:24] shaunbent opened #132 "Using `imports` results in tokens being transformed multiple times"
When using the `imports` feature to pull in tokens which exist in other files, the tokens are being processed twice. The second time the tokens are processed, they transform the result of the first time the tokens are processed and not the source original files.

Whilst this doesn't seem to cause any problems for most tokens/transforms this does break the Android 8 Digit HEX transform, as this rel

[2018-01-08 18:25] shaunbent commented on #132
@aputinski

[2018-01-09 14:48] aputinski commented on #132
Hm.. I'll take a look today.

[2018-01-23 08:44] equinusocio opened #134 "Question: What is the animations format?"
Hi, i have a prop `fadeIn`, what is the starting animation format? a css keyframes?

[2018-01-23 13:41] aputinski commented on #134
There's no set convention for animations.. totally depends on how you plan to implement animations in your system.

[2018-01-23 13:41] #134 closed

[2018-01-23 13:56] equinusocio commented on #134
So, we need to implement a formatter that transform the value for each platforms, it is right?

[2018-01-23 14:49] aputinski commented on #134
The formatter is responsible for the final output, but you're probably looking for transforms. Unfortunately, they're not very well documented. There is a concept of a transform which is made up of several value transforms.

For instance, we have a value transform called `unit/pixelValue` which will take a rem value and convert it to a pixel value (number) without the "px" suffix.  https://github.

[2018-01-23 15:13] equinusocio commented on #134
Yes, thank you. 👍🏻

[2018-01-30 14:52] shaunbent commented on #132
Hey @aputinski wondered if you had any thoughts on this issue?

If you could give me a few pointers of where to look I could take a look at fixing this myself and opening a PR.

Sorry to bother you.

[2018-01-30 16:03] #132 closed

[2018-01-30 16:06] aputinski commented on #132
I just published `6.0.0-beta.10` which should fix the issue!

[2018-01-30 16:06] #123 closed

[2018-01-31 09:29] shaunbent commented on #132
Amazing, thank you so much for the help with this. Massive appreciated. 🎉

[2018-02-01 20:58] stevenbenisek opened #136 "Add support for node_module imports"
At present the `imports` field only allows for relative file imports.
[code]
I'd like to add support for node_module imports so tokens can be separately packaged and distributed.
[code]
Would that be something you're interested in adding? If so, I'm happy to submit a PR.

[2018-02-02 16:52] aputinski commented on #136
Yeah, that'd be great! Currently you can do this, correct?
[code]

[2018-02-02 16:55] aputinski commented on #136
It'd also be good to have some recommendations for packaging tokens (directory structure, file names, etc.)

[2018-02-04 14:23] stevenbenisek commented on #136
Correct, but this assumes both packages live in the same node_modules folder. This isn't always the case; e.g. when using [lerna](https://github.com/lerna/lerna)

I'd like to take advantage of node's default module resolving mechanism and handle paths much like ES imports. The only reason [sass-loader](https://github.com/webpack-contrib/sass-loader#imports) uses *~* is because CSS and Sass files h

[2018-02-04 17:26] aputinski commented on #136
Sounds great!

[2018-02-08 17:17] #136 closed

[2018-02-15 19:31] clepore opened #138 "Question about possible theming using aliases"
I am trying to figure out a good way to organize the tokens for a possible easy theming solution. My goal was to try to do the following:

With this hierarchy example:
[code]
I have an "all available colors" palette.
[code]
Then I have one theme using a few of those colors,
[code]
and a second theme using different colors.
[code]
I want to link to the same set of components, but import a different

[2018-02-22 09:13] iilei opened #139 "multi-line strings lad to SyntaxError"
Hi,

when I just tried to implement a custom html renderer with markdown support in the comments I came across the following:

Valid yaml with markdown inside:
[code]

Output:
[code]

Which produces a Syntax Error.

I am aware it might seem like a contrived scenario. However, if you would accept a PR I would happily contribute.

Opinions?

[2018-02-22 18:32] aputinski commented on #139
What is the actual issue? Is the yaml parser not working?

[2018-02-22 18:34] aputinski commented on #139
Oh, I see, it's not creating the comment correctly to handle mutli-line strings. I'd be happy to accept a PR to fix it. Thanks!

[2018-02-26 13:18] shaunbent opened #140 "How are formats and transforms related?"
This might be a super obvious question with a super obvious answer but I can't work it out.

I am trying to understand how formats and transforms are connected. For example, setting:

[code]

How does Theo know which formats are `ios` so that it should apply this transforms? I can't see where this happens in the code and it doesn't seem to be document.

If I create custom formats is there away to

[2018-02-26 13:26] shaunbent commented on #140
I found the answer to my question, this connection happens during when calling `theo.convert` and is defined like this:

[code]

Sorry for posting the question, as I said I knew it would be a super obvious question, with an obvious answer.

[2018-02-26 13:26] #140 closed

[2018-02-28 18:28] lancetharper opened #141 "Resolve aliases in prop value when it is an object"
The design token spec says prop values "Can be any valid JSON value" but it looks like aliases don't work if prop values are anything but a string (or at least they don't when value is an object).

Looking at the the `resolveAliases` function, it finds the alias in the object that it needs to replace just fine but only attempts a string replace.

**Example**

[code]

[code]

[2018-02-28 19:47] aputinski commented on #141
We could definitely account for that case. I'd just need to make a new function that can recursively resolve aliases on an object/array. Side note, unless you are registering a custom value transform, most templates are just going to output the value as `[object Object]`

[2018-02-28 20:34] aputinski commented on #141
I've just published `7.0.0` which should fix this issue

[2018-02-28 20:34] #141 closed

[2018-02-28 20:34] aputinski commented on #136
`7.0.0` is now available on npm

[2018-03-01 22:02] craveytrain opened #142 "Android.xml value in attribute"
Documented android.xml format:
[code]

However, the format generated has the [value as an attribute](https://github.com/salesforce-ux/theo/blob/master/lib/__tests__/__snapshots__/formats.js.snap#L4-L11).

[2018-03-09 01:58] morewry opened #145 "Unable to setup multiple custom formats using CLI"
I will be setting up at least three custom formats for a set of tokens and ran into what appears to be a limitation in the CLI.

### Comma Separated 1

First, trying comma separated values like used for multiple formats,

**Input**
[code]

**Output**
[code]

### Comma Separated 2

Second, adding a space,

**Input**
[code]

**Output**
[code]

### Space Only

**Input**
[code]

**Output**
[code]

###

[2018-03-09 02:01] morewry commented on #118
Just wanna confirm this is ready for use. (I'm a little thrown off by the README. It still shows the object format for props and doesn't mention an array is okay.)

[2018-03-10 19:11] aputinski commented on #118
Arrays are safe to use! I'll try to update the README when I have a chance.

[2018-03-10 19:13] aputinski commented on #145
I think the recommended approach would be to register all transforms in the same file. If you want to split then up in different files, you can just require them from the setup file.

[2018-03-10 19:13] #145 closed

[2018-03-12 18:16] MindSculpt commented on #127
Looks like this might be back when I upgrade to the newest versions of `gulp-theo` and `theo`. The only information I'm getting on error is: `UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): [object Object]`

Nothing has changed on my end other than updating these package versions. Any ideas?

[2018-03-13 02:22] CH-RhyMoore commented on #145
Yeah, I definitely don't want to register them in the same file. Some of the formats will be broken out into their own npm packages.

If I'm understanding you correctly, you're saying that to register and use multiple custom formats, we should create setup file specifically to aggregate the formats, e.g.

[code]

[2018-03-13 12:55] aputinski commented on #145
Yeah, that was the original idea.

[2018-03-13 12:55] aputinski commented on #127
What versions of each are you using?

[2018-03-15 18:49] MindSculpt commented on #127
I'm currently using `gulp-theo 1.0.0-beta.1`. I have theo as a dev dependency but it's actually not being used right now, so the issue is with just the upgrade.

[2018-03-19 17:17] aputinski commented on #139
@iilei are you still interested in creating a pull request for this feature?

[2018-03-19 17:29] iilei commented on #139
Thanks for asking – I have been pretty busy the past weeks and honestly hadn't the time to start working on it. I might find the time until end of march tho.

[2018-03-19 21:26] siiron commented on #127
Same here. I just ran a clean install of `gulp-theo 1.0.0` and I'm getting the same error `UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): [object Object]`.

[2018-03-21 19:29] iilei commented on #139
@aputinski I am on it. See [here](https://github.com/salesforce-ux/theo/compare/master...iilei:fix_multiline_comments?expand=1) for current state of progress.

I am going to double check my code tomorrow – if you already see potential for improvements let me know.

Thank you 🙂

[2018-03-30 17:29] bradryanbice opened #147 "Allow for top-level file comments"
A file generated by Theo can't have documentation comments (as far as I know.)

Maybe institute a comments key in the global area, like so?

[code]

[2018-05-04 01:58] NoWorries opened #149 "Alias calculations"
Is it possible to use calculations, for example to create a range of sizes based on a single alias?

**_aliases**

base-spacing:
    value: "8px"

**_props**

spacing-default:
    value: "{!base-spacing}"

spacing-large:
    value: "{!base-spacing} * 2"

**resolves to:**

spacing-default: 8px
spacing-large: 16px

[2018-05-14 16:15] aputinski commented on #149
This is not currently supported

[2018-05-14 16:15] #149 closed

[2018-05-14 16:16] aputinski commented on #149
I'd like to start thinking about a proposal for adding this type of functionality though

[2018-05-14 16:20] aputinski commented on #147
Right now this is not supported. The `global` property is merged into each token, so we'd need to figure out some other way. Since token files are ultimately all flattened together when imported, maybe this could be an option that get's passed in when calling `theo.convert()`.

[2018-05-17 07:29] informa opened #151 "kebabCase names"
Hi, I am trying to generate the example theo https://github.com/salesforce-ux/theo-example
with sass tokens, like: $font-size-medium in the `html` format rather than the camelCase names the `html` outputs. (`fontSizeMedium`)

It looks like the options you provide should work but I must be doing something wrong.

[code]

[code]
But the output always is camelCase.

[2018-05-17 17:18] aputinski commented on #151
To use that option you'll need to use `gulp-theo` >= `2.0.0` with a `peerDependency` on `theo` >= `6.0.0`.

https://github.com/salesforce-ux/gulp-theo#usage

I need to take that repo down because it hasn't been updated in a while. Sorry about that!

[2018-05-17 17:18] #151 closed

[2018-05-18 01:57] informa commented on #151
Thanks @aputinski I got this to work as you suggested.

Love this feature you have on your token page: being able to select your format to show either `sass` or 'lightening' . Is this going to become a feature of `theo` ?

![screen shot 2018-05-18 at 11 55 03 am](https://user-images.githubusercontent.com/726265/40212234-5b89c06a-5a92-11e8-892c-6f307c6b3d77.png)

[2018-05-21 08:24] JolandaVerhoef opened #152 "Android transform outputs "property" element for color"
The documented android output uses the "color" element for colors. However, the current output uses the "property" element instead.

**Documentation:**
[code]

**Snapshot:**
[code]

[2018-05-21 08:42] JolandaVerhoef opened #153 "Android transform outputs "property" tag for size / string / number"
Android doesn't know how to handle the `property` xml tag.

It expects specific tags like `string`, `color`, `dimen`, `number`. See [the documentation](https://developer.android.com/guide/topics/resources/more-resources).

We would expect Theo to output these specific tags instead of the generic `property` tag.

[2018-05-21 14:43] JolandaVerhoef opened #155 "Android transform outputs px instead of dp"
[Android documentation](https://developer.android.com/guide/topics/resources/more-resources#Dimension) states that you should use Density Independent Pixels instead of Pixels when defining sizes.

The Android transform should therefore do a simple translation from `px` to `dp`

[2018-06-04 15:01] #142 closed

[2018-06-12 18:56] #152 closed

[2018-06-12 18:56] #155 closed

[2018-06-12 19:19] #153 closed

[2018-06-21 22:55] CH-RhyMoore commented on #136
I've got `theo@7.0.1` and have this import configured:

[code]

I'm getting this error:

[code]

The error makes this import appear to not be importing as an npm module, but instead as a relative file path. Any thoughts?

[2018-06-22 18:56] morewry opened #157 "Import support for node_modules not working as expected"
I've got `theo@7.0.1` and have this import configured:

[code]

I'm getting this error:

[code]

The error makes this import appear to not be importing as an npm module, but instead as a relative file path. Any thoughts?

[2018-06-25 16:09] aputinski commented on #157
I'll try to take a look at this. We're currently using https://github.com/sindresorhus/resolve-from to resolve imports, but it might not be taking scoped modules into account. It might be good if we can make a simple test case and submit a PR to `resolve-from` to support this functionality.

[2018-06-27 00:29] CH-RhyMoore commented on #157
I'll try to make some time to check that out, too, and file there/update here if I do.

[2018-06-29 19:14] morewry opened #158 "Hyphen (-) not a valid character for token names in Android?"
I recently began working with our Android team on using the `android.xml` format. They've reported to me that `-` (hyphen) is not a valid character for names, e.g.

[code]

Is not valid. I am using hyphens in our token names and the `android.xml` format output leaves them as hyphens. If hyphens aren't valid, I'd expect this format to remove them or change them to underscores, much like the `module

[2018-07-03 20:36] aputinski commented on #158
Yeah — a PR would be great. I'm planning on making a major release because there were several other breaking changes introduced for Android recently. As far as the name case, I'm not quite sure.

[2018-07-04 02:38] morewry commented on #158
I won't touch the casing, then, for now.

[2018-07-04 03:36] morewry opened #160 "Decide/document/enforce? Property names changed in format output"
The included output formats do a fair amount of transformation on the original property name. JavaScript formats output in camelCase, style formats (CSS Modules, Custom Properties, Sass, etc) mostly in kebab-case, and so on.

I see there being two potential aspects of naming conventions that Theo can reasonably address. The first is **enforcing identifier validity**, which I think most users would

[2018-07-04 03:42] morewry opened #161 "Diversify test suite fixtures?"
I noticed that the fixtures for testing the formats all seem to use roughly the same input format, with the properties named using the constant-convention-esque UPPER_SNAKE_CASE.

This means the tests really only cover your cases if you use the same naming convention for your tokens. Since theo's users probably have more diverse input, I wonder if you'd be open to more diverse fixtures that will a

[2018-07-09 23:27] miketamis opened #162 "New Release"
Could we please have a new release, the current release Android.xml isn't been built correctly, this has been fixed in the master branch.

[2018-07-10 15:02] aputinski commented on #162
https://github.com/salesforce-ux/theo/releases/tag/v8.0.0-beta.1

[2018-07-10 15:02] #162 closed

[2018-07-13 13:13] geraldfullam opened #163 "Improve documentation for `html` under Formats"
I discovered through trial that when using `theo` to build `html` that some categories of tokens were not rendered to the page. Upon [examining the source code](https://github.com/salesforce-ux/theo/blob/master/lib/formats/html.js#L419-L448), I learned that these categories are conditionally rendered and that each is mapped to a human-friendly display name.

I propose mentioning this conditional r

[2018-07-13 13:55] aputinski commented on #163
I totally agree. Would you mind submitting a PR?

[2018-07-13 13:56] aputinski commented on #161
Yeah, I think expanding the test cases would be a great idea.

[2018-07-13 14:05] aputinski commented on #160
Yeah, I think you make a good point. Theo was originally created for our use cases at Salesforce and  many of the formats are pretty opinionated based on what we needed at the time. After reading comments like this and https://github.com/salesforce-ux/theo/issues/163, I'm starting to think that the documentation should encourage using custom formats.

We could keep adding more configuration option

[2018-07-13 14:06] #158 closed

[2018-07-16 18:43] #163 closed

[2018-07-23 21:34] sturobson opened #165 "how to include global values outside of a .map"
I'm trying to create a custom format that will create a Sass map.

I have everything working except I need to create the Sass maps name from the global category and type.

I'm failing at this. I've gone through issues, code, and examples through trial and error with no working result

Here's my current code

[code]

I'd live the `$CATEGORY--TYPE` to be the Sass map's variable name taken from the g

[2018-07-24 14:46] aputinski commented on #165
Is this the desired output?

[code]

If so, I'd do something like this:

**tokens.yml**
[code]

**format.js**
[code]

[2018-07-24 18:00] sturobson commented on #165
@aputinski this works perfectly! Thank you so much <3

[2018-07-24 18:00] #165 closed

[2018-08-16 15:38] bradryanbice opened #166 "Issue with accessing meta values?"
I have this YAML (portion)

[code]

And I'm creating a custom format using this:

[code]

Which is returning empty values for the meta (name and value are returning just fine. Is this something I'm doing wrong?

[2018-08-21 18:31] bradryanbice commented on #166
@aputinski Thank you, that transform option setting worked. I was pulling what was left of my hair out on that one.

[2018-08-31 07:31] StudioSpindle commented on #147
How about the following format:

_example.yml_
[code]

This way in the output file, when set it would get separators of each file section based on whether the meta info has been filled in or not.

My specific use case would be to set a comment in the first base SCSS file to notify users that it's a generated file and should not edit directly.

Thoughts?

[2018-09-06 20:07] petekp opened #168 "Providing TypeScript definitions"
👋I've been experimenting with Theo in TypeScript and took a stab at creating type definitions. Since Theo is not written in TS, I've submitted a PR to DefinitelyTyped, the primary resource for third-party TS definitions:  https://github.com/DefinitelyTyped/DefinitelyTyped/pull/28683

Would love additional eyes to verify their accuracy or potential improvements!

[2018-09-08 01:32] #166 closed

[2018-09-15 19:17] jeaster12 opened #169 "Supporting nested maps?"
Hi All!

I'm wondering if there are some further examples of custom formatters? I'm attempting to support nested sass maps easier and haven't found a great solution.

For instance given:

[code]
I could get something like:

[code]

Perhaps with the option to return a variables map?:

[code]

Thanks for any guidance!

[2018-09-24 20:10] clepore commented on #138
To piggy back on this, I guess I was looking for more SASS-like compiling where all of your imports are in one file and the variables cascade down into the files, versus a direct "file to dependency".

[2018-10-04 19:17] clepore commented on #138
I'm going to close this issue as it's not how Theo was built/designed to work.

If anyone following this issue is looking for something a little more cascading (as described above), I am now working with https://github.com/amzn/style-dictionary.

Cheers!

[2018-10-04 19:17] #138 closed

[2018-10-09 08:20] detj opened #170 "💩 Oops, something went wrong: Error: EISDIR: illegal operation on a directory, read"
Getting this error after installing `theo` using `npm install -g theo`. Tried it using `node v6.14.4`, `node 8.12.0`, `node 9.11.2`, `node 10.11.0`.

[code]

[2018-10-09 08:24] detj opened #171 "vulnerable dependencies"
npm reports **77 vulnerabilities (4 low, 73 moderate)** in the latest version of theo.

[2018-10-11 17:48] shaneporter commented on #118
PR #150 addresses this README change.

[2018-10-25 14:46] aputinski commented on #171
Should be fixed in `8.0.0`

[2018-10-25 14:46] #171 closed

[2018-11-09 03:32] trazek opened #172 "Allow aliases to be resolve in prop meta data"
Given the following data file:

[code]

Allow aliases to be resolved in meta data, resulting in the following raw file:

[code]

[2018-11-09 03:38] trazek commented on #172
I have created a pull request for this: https://github.com/salesforce-ux/theo/pull/173

[2018-11-10 16:15] trazek commented on #169
Hey @jeaster12 you can try something like this for a custom format:

[code]

and then can run it from the CLI like so:

`theo --setup test.format.js test2.yaml --format nested.map.scss --dest output`

Let me know if this works for you

[2018-11-13 20:41] jeaster12 commented on #169
@trazek thanks! this is a great help! Is it also possible to return the map with variables?

[code]

[2018-11-13 23:16] trazek commented on #169
Well you can make `const body = Object.keys(d.value).map(k => `${k}: ${d.value[k]}`);` return whatever string you want. If you make it return `$brand-primary-0`, etc, it's not really formatting the token data however. This being a custom format, you are free to return the structure you desire and also return the mapping for `$brand-primary-0, 1, 2` etc.

If I have time, I can create an example of

[2018-11-14 00:41] jeaster12 commented on #169
Perfect I got it figured out! Thanks again.

[2018-11-14 00:41] #169 closed

[2018-11-14 05:06] trazek commented on #131
I can confirm this is happening. Will take a look

[2018-11-16 14:55] StevenLangbroek opened #174 "Typescript output?"
I see there's no option for outputting typescript, but formats look relatively straightforward to write. Would you be interested in a typescript formatter?

Thanks!

- Steven

[2018-11-17 00:10] trazek commented on #174
I'd be interested in seeing what that looks like.

[2018-11-17 09:49] StevenLangbroek commented on #174
Initially probably not that different from the common.js one. I'm still exploring Theo though, so depending on how it works it might be interesting to output an `enum` or `union` per category.

[2018-11-25 03:43] aputinski commented on #174
Yeah, I think Typescript could be interesting if we can output a format that is useful for everyone.

[2018-12-08 01:09] petekp commented on #174
Our design system is Typescript-based and I wanted to leverage autocomplete in VSCode when referencing Theo-generated styles in a component. The quickest solution was to auto-generate typings for the JS module using `tsc` and its `--declaration` flag. Example: https://github.com/VirtaHealth/substrate/blob/master/packages/styles/dist/index.d.ts

It only generates the primitive types, e.g. `string`,

[2018-12-08 16:10] trazek commented on #174
@petekp that link gave me a 404.

[2018-12-08 16:19] petekp commented on #174
@trazek Oops, fixed :)

[2018-12-21 17:57] #172 closed

[2019-02-18 12:31] JasonNutmeg opened #176 "Add documentation for the `type` prop in token files"
The readme shows the usage of the `type` prop in the token files but doesn't describe what the prop is used for or what values are available for it.

It would be great to add that to the readme.

[2019-02-20 10:07] ringodotnl opened #177 "npm audit issues"
When running npm audit it output's the issue's:

High:
1. theo > handlebars

Moderate:
2. theo > lodash
3. theo > handlebars-helpers > helper-markdown > remarkable >   │
│               │ argparse > underscore.string
4. theo > handlebars-helpers > helper-md > remarkable >         │
│               │ argparse > underscore.string

Would it be possible to update these ?

Cheers,
Ringo.

[2019-02-26 18:15] #168 closed

[2019-03-12 21:23] grelas opened #178 "Allows resolving of aliases from separate token files"
Is there support for referencing a token alias from a separate file without alias duplication?

Currently, we organize our token files separately like so:
[code]

We define our colors in `colors.json`.
[code]

And define our borders in `borders.json`. Here I'm attempting to use the `color-black` token.
[code]

In the above example, when we build the tokens, the `border-divider-color` token resolve

[2019-03-15 00:42] aputinski commented on #178
Our current workaround is to separate the aliases from the properties:
https://github.com/salesforce-ux/design-system/tree/master/design-tokens/aliases
https://github.com/salesforce-ux/design-system/blob/master/design-tokens/global/background-color.yml#L12

[2019-03-25 04:18] NoWorries commented on #176
I believe that the basic values are below, these are then used with value transforms:
- Size
- Number
- Color
- String

You can extend it with custom types/transforms, example of size transform below:

[code]

[2019-03-25 09:57] JasonNutmeg commented on #176
Thanks @NoWorries !
Would be useful to have that information in the official documentation as well 🙂

[2019-03-25 13:58] #178 closed

[2019-03-27 02:03] mattfelten commented on #174
@petekp Could you walk through how you generated the typings for that? `tsc --declaration tokens.js` doesn't love that it's not a TS file.

[2019-04-03 22:45] limitlessloop commented on #100
Should be re-considering how aliases work? They seem like just another layer of abstraction within an already abstracted concept (design tokens). I would find it much easier to just reference/import design tokens within design tokens, but then I know little of the use cases which aliases are used in. However with the small number of times I need to use aliases they seem more complicated than they

[2019-04-04 11:33] arnthor3 opened #179 "Update package.json?"
I have been getting npm audit warnings regarding two of Theo dependencies, js-yml 3.10. and handlebar-helpers. Is this something that should/can be fixed?
*Using version 8.1.2 of Theo*

[2019-04-05 08:09] ringodotnl opened #180 "Support for Typescript"
Hello,

Are you planning to support typescript as output format ?

Cheers,
Ringo.

[2019-04-24 12:49] lautr commented on #179
#### js-yml
I created a PR to update js-yml: https://github.com/salesforce-ux/theo/pull/181

####  handlebar-helpers
The handlebar-helpers issue is due to a deep dependency there is an open issue on their end to fix it: https://github.com/helpers/handlebars-helpers/issues/342

[2019-04-29 04:16] anticafe opened #182 "Provide support for Flutter"
In Flutter, theme is set by using [ThemeData](https://docs.flutter.io/flutter/material/ThemeData-class.html). Do you have any plan to support it?

[2019-05-15 11:44] aputinski commented on #182
I don't have time right now, but would happily accept a PR.

[2019-05-27 23:25] arnthor3 commented on #179
Just waiting on the new release.

[2019-05-27 23:25] #179 closed

[2019-05-28 17:43] aputinski commented on #179
Just published `8.1.3`. Sorry for the delay.

[2019-05-29 01:52] petekp commented on #174
@mattfelten I'm currently faking it by registering a custom format (`.d.ts`) and outputting the style data but wrapped in a typings export declaration; basically producing the same output `tsc --declaration` would emit:

[code]

[2019-05-29 02:38] mattfelten commented on #174
Ah that's clever. I ended up registering a new `ts` format and then running `tsc` on it.

[code]

[2019-05-29 18:11] sturobson commented on #108
Hi, did this get implemented?

[2019-05-29 22:21] petekp commented on #174
@mattfelten Nice! Before my current method I was changing the filename from `.js`->`.ts`, running `tsc` and then changing it back to `.js` 😄

It would be cool to build this into Theo, either as a format or a CLI flag (`--tsDeclarations`).

[2019-05-29 22:31] petekp commented on #180
@ringodotnl Hi, can you describe in more detail what you would like to have the output be? I might be able to help you since I'm working with Theo in a TS context.

[2019-05-31 17:09] aputinski commented on #174
I'll just chime in and say that I don't have any plans to add TypeScript support, but I'd happily accept a PR for it.

[2019-05-31 17:11] aputinski commented on #180
I don't have any plans to add TypeScript as a format, but I think @petekp and others have been discussing it here https://github.com/salesforce-ux/theo/issues/174

[2019-05-31 17:11] #180 closed

[2019-05-31 19:37] petekp commented on #174
I'm down to help implement this. Still wondering what exactly folks would expect from this format. Just definitions? Auto-generated types/interfaces? Thinking optionally outputting `.d.ts` definitions for the built-in JS format would be a reasonable place to start.

[2019-05-31 22:46] mattfelten commented on #174
That’s what I would expect. That the output can be packaged and “just work” in typescript projects. I don’t think we would need actual `.ts` files

[2019-06-18 18:44] phun-ky opened #183 "How to set up multiple conversion targets"
Currently, I have to do this for each target:

[code]

How can I chain them for multiple targets (less + scss + styl+++)?

I could do this though, but I wonder if theo has support for something, better? :

[code]

[2019-06-26 17:45] petekp commented on #183
@phun-ky This is how I'm currently handling multiple targets in a node build script. Hope this helps provide some ideas!

Basically I have a configuration object with an `output` field that defines the transforms/formats I'm using. I then run Theo on each of these outputs in sequence.

[code]

[2019-07-02 19:01] phun-ky opened #184 "Missing helper: "commoncomment""
With this line in a custom format:

    {{#if prop.comment}}{{{commoncomment prop.comment}}}{{/if}}

I get:

[code]

[2019-07-09 20:06] CH-RhyMoore commented on #157
I think this got fixed; I tried it again recently and had no trouble this time.

[2019-07-09 20:15] CH-RhyMoore commented on #176
The mental list I've been keeping is `size`, `number`, `color`, `string`, and `property`.

There's a big difference between `string` and `property` in some output formats--presence or absence of outer quotes.

I don't think this is actually _all_ of them, but the ones I remember off the top of my head that were important were in CSS Modules.

I can have a token that's usable in `composes` like bel

[2019-07-10 15:15] withinsight opened #185 "Global namespace or prefix (feature request)"
Its fairly common with design tokens to use a namespace or prefix for all tokens. For example:

`$ns-text-color: #000`

where `ns-` is the namespace. The only way to do this without hacking Theo's core is to manually prepend all variables in yml files with the namespace. Would be great if Theo supported namespacing for all formats from a central location.

[2019-07-10 17:00] bradfrost opened #186 "Possible to use math in tokens?"
Hi there!
I'm setting up Theo for my project and know that it's possible to reference other token names, which is great! I was wondering if it's possible to apply math functions to tokens.

I currently have a general sizing Sass variable that we're hoping to extract into tokens:

[code]

We then use that size unit for our typography sizing and spacing, like so:

[code]

The gist is that altering t

[2019-07-14 15:13] aputinski commented on #186
I think this could be achieved with a custom transform. Here's an example that takes "50%" and converts it to "0.5".

https://github.com/salesforce-ux/theo/blob/master/lib/transforms/number.js

You could write a transform that tests for the size function and performs the calculation. The only problem will be getting that value of `$size-base-unit` inside that transform function. We have a similar

[2019-07-15 23:01] #157 closed

[2019-07-20 17:18] bradfrost commented on #186
Awesome, thanks so much @aputinski! I'll hopefully find some time to poke around with it and will report back.

[2019-08-06 21:14] chgsilva opened #187 "[request] React native support"
Is support for react native on the roadmap?
Any plans to support it?

[2019-09-30 20:24] withinsight opened #188 "How to disable token camelCase in HTML output"
The default for token names in the html output is camelCase. I should be able to override this by setting up a setup.js file, and defining a custom formatOption.

I currently see this error:

`Error: No options?
    at transform.chain.fold.e (/Users/{un}/{project}/node_modules/theo/lib/index.js:122:32)`

Here's my setup.js:

[code]

As you can see I'm simply returning the token name, so it should

[2019-09-30 20:27] withinsight commented on #188
Any examples of customizing Theo's formatOptions out there?

[2019-10-01 13:58] withinsight opened #189 "Section sort order in HTML output"
Is it possible to control the sort order of the categories/sections in the HTML output? It would be great if it followed the sort order specified in base.yml. Here's my base.yml I point theo CLI at:

[code]

In the HTML output, the order is random: Space, Font Weight, Font Size, etc.

[2019-10-01 21:51] chris-dura opened #190 "Z-index `-99999` generates `-999991500`"
[code]
Output:
[code]
[code]

[2019-11-09 09:46] phun-ky opened #191 "Inconsistency in variable names scss <-> stylus <-> less"
With this task:

[code]

And this DT:

[code]

I get different casing on the variable names:

in `color-variables.scss`:

[code]

in `color-variables.styl`:

[code]

in `color-variables.less`:

[code]
What gives?

[2019-11-09 17:52] phun-ky commented on #191
:duck: :man_facepalming:  OK, nevermind. I'm the one who added the `stylusObj`-format in the first place.. closing..

[2019-11-09 17:52] #191 closed

[2019-11-18 19:23] withinsight commented on #188
Still no luck here. Anybody?!?

[2019-11-19 14:59] withinsight commented on #189
Anyone? I've tried prefixing the yml files with numbers (1-text-color.yml, 2-background-color.yml, etc.) and even this doesn't fix the HTML output sort order?

[2019-11-25 22:22] semonje commented on #108
Bump. Also looking for this. Did it get implemented? 🤔

[2019-11-29 18:25] hmalaud opened #192 "Nested alias values"
I was wondering if there were any way to use an alias with sub values like so (in a .yml file):
[code]

This seems not to crash anything, but I can't figure out how to use the value, if it even exists (tried `{!mq.touch}, {!mqtouch}, {!mq-touch}, {!mq_touch}` with no success).

Thanks for your help!

[2020-01-15 09:46] frebro commented on #176
Stumbling on this a year later. Are there any docs on what values are available for the type prop? Unsure where to look.

[2020-01-15 15:28] chidexebere opened #193 "Custom Transforms / Value Transforms needs clear documentation"
The documentation for Custom Transforms / Value Transforms is not clear.
I am trying to create a custom transform to HSL colors.

[code]

[2020-01-16 18:54] ranzolinrafa commented on #187
Up!

[2020-01-16 18:57] ranzolinrafa commented on #147
Hello! We have some status update for this enhancement? Thanks!

[2020-01-17 14:46] axyz commented on #188
@withinsight I have the same issue, haven't digged too much into the code, but as far as I can tell it is not possible to pass options to the convert function.

What happen with the setup file is that it gives you the `theo` object so that you can decorate it before the convert function is called, but you cannot call the convert function yourself there.

I think the only options here would be to e

[2020-01-25 17:07] daniel-nagy commented on #169
Is there a way to keep the platform specific type conversions with lists and maps? For example, given a map of colors,

[code]

Theo will try to convert the map to a color and the result will be `colors: "rgb(0, 0, 0)"`, when the target is **web**, instead of a map of colors.

Maybe a recursive definition for props would allow setting the type for any key. Although that ends up being quite verbose

[2020-01-25 19:42] daniel-nagy commented on #169
I was able to do what I wanted using meta data and a custom formatter without too much difficulty. Still, it would be nice to declaratively represent the shape of the design tokens in a config file and not have to write a custom formatter to reshape them.

[2020-04-02 19:39] notbear opened #216 "Missing dependency to "optimist" package"
The theo.js script requires an _optimist_ package but _optimist_ is not listed as a direct dependency in package.json.

It usually works because _optimist_ can be installed via transitive dependency from _handlebars_ package.

It fails when using latest _handlebars_ (4.7.4+) as they [migrated from deprecated _optimist_ to _yargs_](https://github.com/wycats/handlebars.js/pull/1666)

[2020-04-15 03:27] lalizita commented on #216
is this fixed?

[2020-04-24 10:11] frebro commented on #216
Nope. Waiting for merge. I can confirm the fix in the pull request works.

[2020-05-04 17:36] #216 closed

[2020-05-15 01:25] rivajunior commented on #216
can anyone make a version with this fix?

[2020-05-19 09:57] Azlan-JG commented on #216
Can confirm I am still seeing this issue

[2020-05-19 09:57] gg-justgiving commented on #216
I am also still seeing this issue - when will this be resolved @zahnster

[2020-07-06 10:40] frebro commented on #216
Merged in #217 but still waiting for a new version to be published.

For anyone having problems, the temp fix is to install Theo and then edit _node_modules/theo/bin/theo.js_ on **L5** from `const argv = require("optimist").argv;` to `const argv = require("yargs").argv;`. You may need to `npm install yargs` depending on what other modules you have installed.

[2020-07-07 16:09] LolliDepp commented on #216
@frebro modifying node_modules files directly is not a temp fix since on every `npm install` on CI machines that change will be removed

[2020-08-04 23:06] avkvirtru opened #248 "docs: quick start or getting started guide"
The main README dives into technical detail without introducing basic things—what are design tokens, why does Theo manage them, and how do I get started?

Consider borrowing some ideas for how to introduce these concepts from [Style Dictionary](https://amzn.github.io/style-dictionary/#/README). I picked that over Theo simply because it guided me along.

[2020-09-03 14:39] notbear commented on #216
@zahnster @aputinski any chance for the release?

BTW What are Salesforce's plans regarding this project? Is it abandoned?
It's really nice tool. IMO better than Style Dictionary for example. But I'd have to consider migration if Theo stays unmaintained.

[2020-09-16 12:59] frebro commented on #216
Sorry, I was being unclear. A temp fix **when using Theo CLI manually from the command line** is to install yargs and edit theo.js. It works, but will not persist on CI obviously.

[2020-11-09 15:06] levi-pires commented on #187
Im working on it. I will open a pull request

 [react-native-theo](https://github.com/levi-pires/react-native-theo)

[2020-11-19 11:29] ringodotnl commented on #216
npm i of theo version 8.1.5 doesn't have the merged change for some reason so:
const argv = require("optimist").argv; to  <--- that's in 8.1.5
const argv = require("yargs").argv; <-- should be that

Can you (re)publish the npm again ?

[2020-11-19 11:52] notbear commented on #216
@ringodotnl My fix was merged long time ago. But there was no release from January. Seems the project has been abandoned by its maintainers. Sad.

[2020-11-23 08:00] ringodotnl commented on #216
@notbear cheers for the reply.
Hopefully they find the time to make a new release, for now we apply a patch.

[2020-11-24 07:57] ringodotnl opened #258 "make npm package not all merged is released"
Can you make a new npm package ? Not all merged is release for example see url:
https://github.com/salesforce-ux/theo/issues/216

Cheers,
Ringo.

[2020-12-14 15:56] WickyNilliams commented on #174
I used the following which output a TS declaration which matches the `module.js` theo format:

[code]

You can then register this in your setup file:

[code]

[2021-01-11 12:43] prodtest375 opened #264 "Something went wrong: Error: Invalid option "file": must be a path"
`const express = require('express')
const app = express()
const port = 3000
const theo = require("theo");

var obj = {

  props: [
    {
      name: 'product-color',
      type:'color',
      value: '#ff0000',
      category :'font-color'
    },
     {
      name: 'product-colorone',
      type:'color',
      value: 'rgb(1,2,3)',
       category :'font-color'
    }
  ]
};

app.get('/', (req, res)

[2021-02-07 20:49] ablank opened #266 "CLI missing optimidependency"

[2021-02-26 13:30] juanbrujo commented on #266
I had to install it as devDependency

[2021-04-01 15:36] #258 closed

[2021-04-08 04:33] myamolane commented on #188
@withinsight Hey, this should works, take a try ~
`const htmlFormat = require('theo/lib/formats/html');
theo.registerFormat(
  'html',
  (result) => {
    const newResult = result.set('options', {
      transformPropName:  (propName) => {
        // convert to whatevery case you want
        return propName;
      }
    })
    return htmlFormat(newResult)
  }
)`

[2021-04-08 04:40] myamolane commented on #188
Another way, pass the transformPropName through formatOptions
![image](https://user-images.githubusercontent.com/26702359/113969443-9859af80-9867-11eb-98bb-f53adac42a39.png)

[2021-04-21 15:23] dayton-bobbitt commented on #192
Hi @hmalaud, did you ever find out if nesting aliases / props is possible?

I'm hoping to accomplish something like the following:

[code]

Which would generate the following Sass variables:

[code]

[2021-04-21 15:29] hmalaud commented on #192
Hello @dayton-bobbitt , unfortunately I wasn't able to make it work this so I forked the project and made something that was working for me back then: https://github.com/hmalaud/theo. I wanted something like this to be loopable, so I'm not sure this is exactly what you're looking for:
[code]
I can't promise it will work for you, but when I tried it 3/4 months ago, it was still working with the lat

[2021-04-21 18:08] dayton-bobbitt commented on #192
Thanks @hmalaud! I'm currently exploring tools we can use to generate design tokens with cross-platform support, so I definitely keep this in mind.

[2021-09-10 15:42] #100 closed

[2021-10-22 08:27] notbear commented on #266
The project is abandoned.
Your issue was fixed and merged almost 1.5 years ago but no new release has appeared since January 2020

https://github.com/salesforce-ux/theo/issues/216

[2022-02-08 06:49] edgaryp opened #268 "Is the this project deprecated?"

[2022-02-10 00:23] jkenlooper commented on #268
I haven't fully taken the time to research other alternatives, but https://github.com/amzn/style-dictionary seems to be more active. I don't think it is a drop-in replacement for theo, however.

[2022-05-06 14:38] kiddkevin00 commented on #268
+1

I am trying to find alternatives for the Amazon style-dictionary to explore other options. Any other options other than Amazon style-dictionary and Slaesforce Theo? Thanks!

[2022-05-06 14:40] kiddkevin00 commented on #266
@notbear is this project abandoned? Where do you find that information? Thanks!

[2022-05-06 18:15] notbear commented on #266
See above. Still no updates, no releases, noone from maintainers responds. It's kinda obvious for me :-)

[2022-09-02 10:18] WebMechanic commented on #268
@kiddkevin00 I'm evaluating https://github.com/Heydon/design-tokens-cli for the same reason(s) as I know Heydon's other work.

From the readme

- [x] Converting from design tokens in the [standard JSON format](https://design-tokens.github.io/community-group/format/)...
- [x] ...to CSS (custom properties)
- [x] ...to Sass (scss) variables
- [x] ...to ES modules
- [x] ...to JSON (flattened to name/v